@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-ocean-light text-slate-900 dark:bg-ocean dark:text-white antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Safe area padding for iOS Safari bottom toolbar */
.pb-safe {
  padding-bottom: constant(safe-area-inset-bottom); /* iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom);
}
